@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Roboto&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    max-width: 780px;
    margin: auto;
}

body {
	padding: 0;
}

header {
    background: #263238;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    margin-bottom: 10px;
    margin-top: 10px;
}

header div img {
    display: none;
}

header div p {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

header div .blog-name {
    font-family: 'Alex Brush', cursive;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

header div img {
    max-width: 320px;
}

main {
    margin: 20px;
}

nav input {
    font-size: 10px;
    height: 25px;
    color: #c0c0c0;
}

.menu {
    display: none;
}

img {
    width: 100%;
    display: block;
}

.content {
    text-align: justify;
    text-indent: 1em;
    padding-left: 10px;
}

.tags {
    color: #1464f6;
    text-align: center;
}

h1 {
    color: #1464f6;
    font-weight: bold;
    text-align: center;
}

footer div {
    display: inline-block;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 5px;
}

footer {
    background: #7a7a7a;
    display: grid;
    grid-template-columns: 1fr 12fr;
    justify-items: left;
    align-items: center;
    padding: 5px;
}

.fb-logo {
    display: grid;
}

@media (min-width:575px) {
    header {
        background: #80cbc4;
        color: #000000;
    }

    header div {
        margin: 0px;
    }

    header div img {
        display: block;
    }

    .menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 16px;
        background: #444444;
        padding: 0;
    }

    nav .menu li{
        list-style-type: none;
        border: 1px solid #000000;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav .menu #choosen {
        background: #e6e6e6;
    }

    nav .menu a {
        text-decoration: none;
        color: #ffffff;
    }

    .content-block {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}