*{
	margin: 0;
	padding: 0;
}

header div{
    border: 0.5px dotted crimson;
    display: inline-block;
    top: 50%;
    text-align: center;
}

header {
    background: #80cbc4;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    border: 1px solid #000000;
    background: #444444;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
footer div {
    display: inline-block;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    background: #7a7a7a;
    display: flex;
    justify-content: left;
    align-items: center;
}