@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Roboto&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
	padding: 0;
}

header {
    background: #80cbc4;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div p {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

header div .blog-name {
    font-family: 'Alex Brush', cursive;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

header div img {
    width: 70%;
}

main {
    margin: 20px;
}

nav input {
    border-radius: 10px;
    font-size: 10px;
    width: 250px;
    height: 25px;
    color: #c0c0c0;
    margin: 10px;
}

nav .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    border: 1px solid #000000;
    background: #444444;
    text-align: center;
    color: #ffffff;
}

footer div {
    display: inline-block;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    background: #7a7a7a;
    display: flex;
    justify-content: left;
    align-items: center;
}

img {
    width: 100%;;
}